/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
// @import "./assets/scss/bootstrap-reboot.scss";
@import "./assets/scss/font-initialize.scss";
body {
  font-family: var(--font-family);
}






// --------------------------------




/* You can add global styles to this file, and also import other style files */
@import "./assets/css/font-initialize.css";
@import "./assets/css/bootstrap-reboot.css";
@import "./assets/css/bootstrap-button.css";
@import "./assets/css/bootstrap-forms.css";
@import "./assets/css/bootstrap-dropdown.css";
@import "./assets/css/bootstrap-table.css";
@import "./assets/css/spinner.css";
@import "./assets/css/utility.css";

// change primeng component font-family
.p-component,
.p-link,
.p-autocomplete .p-autocomplete-multiple-container .p-autocomplete-input-token input,
.p-chips .p-chips-multiple-container .p-chips-input-token input,
.p-inputtext,
.p-terminal .p-terminal-input {
    font-family: var(--bs-font-sans-serif);
}

.form-check-label{
  cursor: pointer;
}

// change scrollbar style
::-webkit-scrollbar {
    width: 7px;
  }

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
